class cfgSkeletons
{
	class SEP_WP_MAS38_skeleton
	{
		skeletonInherit = "";
		isDiscrete = 0;
		SkeletonBones[]=
		{
			"zasleh"	,"",
			"trigger"	,"",
			"bolt"	,"",
			"magazine"	,"",
			"magcover"	,"",
			"rounds"	,"magazine",
			"boltcover"	,"",
			"sight"	,"",
			"ring"	,"",
			"zasleh"
		};
	};
};
class CfgModels
{
	class Default
	{
		sections[] = {};
		sectionsInherit="";
		skeletonName = "";
	};
	class SEP_WP_MAS38:Default
	{
		skeletonName="SEP_WP_MAS38_skeleton";
		sections[]=
		{
			"camo","camo1","zasleh"
		};
/*<potential axis>
barrel_axis
barrel_pin
barrel_pin_axis
bolt
bolt_axis
deploypoint
eye
eye1
eye2
eye3
eye4
eye5
eye6
eye7
eye8
eye_look
konec hlavne
leg_l
leg_l_axis
leg_r
leg_r_axis
mag_axis
mag_pin_axis
mag_rot_axis
magazine
magazine_cover
magazine_pin
muzzleflash
nabojniceend
nabojnicestart
sights_block
sights_rot
sights_rot_axis
sights_tra_axis
trigger
trigger_axis
usti hlavne
</potential axis>*/
		class Animations
		{
#define AMMOCOUNT	32
class rounds_hide
			{
				type = "hide";
				source = "revolving";
				memory = 1;
				minValue =-1;
				maxValue = 0;
				sourceAddress = "mirror";
				selection = "rounds";
				hideValue = (AMMOCOUNT-1)/AMMOCOUNT;
			};
class boltcover_move
			{
				type = "translation";
				source="isSelected";
				selection="BoltCover";
				axis="BoltCover_axis";
				animPeriod=0;
				minValue=0.0;
				maxValue=1;
				minPhase=0.0;
				maxPhase=1;
                offset0 = "-1.35";
                offset1 = "0";
			};
class sight_fold
			{
				type="rotation";
				source="isSelected";
				selection="sight";
				axis="sight_axis";
				animPeriod=0;
				minValue=0.0;
				maxValue=1;
				minPhase=0.0;
				maxPhase=1;
				angle0=rad 90;
				angle1=0;
			};
class ring_play_up
			{
				type="rotation";
				source="reload";
				selection="ring";
				axis="ring_axis";//*probably*
				sourceAddress = loop;
				minValue=0.0;
				maxValue=0.25;
				angle0=0;
				angle1=0.5;
			};
class ring_play_down
			{
				type="rotation";
				source="reload";
				selection="ring";
				axis="ring_axis";//*probably*
				sourceAddress = loop;
				minValue=0.25;
				maxValue=1.0;
				angle0=0.5;
				angle1=0;
			};
class magazine_reload_move_1 ///Mag pulled out
			{
				type=translation;
				source=reloadMagazine.0;
				selection=magazine;
				axis=magazine_axis;
				minValue=0.235;
				maxValue=0.28;
				offset0=0;
				offset1=-1;
			};
			class magazine_reload_move_2: magazine_reload_move_1 ///Mag in prepair
			{
				minValue=0.615;
				maxValue=0.655;
				offset0=0;
				offset1=0.4;
			};
			class magazine_reload_move_3: magazine_reload_move_1 ///Mag insert
			{
				minValue=0.655;
				maxValue=0.700;
				offset0=0;
				offset1=0.6;
			};
			class trigger
			{
				type="rotationZ";
				source="trigger";
				selection="trigger";
				axis="trigger_axis";//*probably*
//				sourceAddress = clamp;// (default)
				minValue = 0.0;//rad 0.0
				maxValue = 1.0;//rad 57.29578
				angle0 = 0.0;//rad 0.0;
				angle1 = -0.17453292;//rad -10.0;
				animPeriod = 0.0;
				initPhase = 0.0;
//				memory = true;//(default assumed)
			};
class bolthandle_move1
            {
                type = "translation";
                source = "reloadMagazine";
                selection = "bolt_handle";
                axis = "bolt_handle_axis";
                begin = "bolt_handle_axis_end";
                end = "bolt_handle_axis_begin";
                minValue = 0.85;
                maxValue = 0.88; //0.09; //"1";
                offset0 = "0";
                offset1 = "1";
            };
                        class bolthandle_move2
            {
                type = "translation";
                source = "reloadMagazine";
                selection = "bolt_handle";
                axis = "bolt_handle_axis";
                begin = "bolt_handle_axis_end";
                end = "bolt_handle_axis_begin";
                minValue = 0.89;
                maxValue = 0.92;
                offset0 = "0";
                offset1 = "-1";
            };
			class bolt
			{
				type = translation;
				source = reload;
				selection = bolt;
				axis = bolt_axis;
				minValue = 0;
				maxValue = 1;
				offset0 = 0;
				offset1 = -1;
			};
			class magazine_cover_rot
			{
				type="rotation";
				source="revolving";
				selection="magazine_cover";
				axis="magazine_cover_axis";//*probably*
//				sourceAddress = clamp;// (default)
				minValue = 0.0;//rad 0.0
				maxValue = 1.0;//rad 57.29578
				angle0 = -5.7595863;//rad -330.0;
				angle1 = 0.0;//rad 0.0;
				animPeriod = 0.0;
				initPhase = 0.0;
//				memory = true;//(default assumed)
			};
			class magazine_reload_hide
			{
				type="hide";
				source="reloadmagazine";
				selection="magazine";
//				sourceAddress = clamp;// (default)
				minValue = 0.0;//rad 0.0
				maxValue = 1.0;//rad 57.29578
				hideValue = 0.2;
				unHideValue = 0.6;
				animPeriod = 0.0;
				initPhase = 0.0;
			};
			class unloaded_magazine_hide
			{
				type = "hide";
				source = "hasMagazine";
				selection = "magazine";
				hideValue = 0.1;
			};
			class muzzleflashrot
			{
				type="rotationX";
				source="time";
				selection="zasleh";
				axis="barrel_axis";//*probably*
				sourceAddress = loop;
				minValue = 0.0;//rad 0.0
				maxValue = 0.2;//rad 11.459156
				angle0 = 0.0;//rad 0.0;
				angle1 = 6.2831855;//rad 360.0;
				animPeriod = 0.0;
				initPhase = 0.0;
//				memory = true;//(default assumed)
			};
			class ironsight_mov
			{
				type="translation";
				source="zeroing1";
				selection="sights_block";
				axis="sights_block_axis";//*probably*
				sourceAddress = loop;
				minValue = 0.0;//rad 0.0
				maxValue = 1.0;//rad 57.29578
				offset0 = 0.0;
				offset1 = -0.7;
				animPeriod = 0.0;
				initPhase = 0.0;
//				memory = true;//(default assumed)
			};
		};//</Animations>
	};//</Modelclass>
};//</CfgModels>
